.goban {
    position: relative;
}
.goban .stone,
.goban .focused,
.goban .ghost,
.goban .symbol,
.goban .number,
.goban .label {
    position: absolute;
}
.goban .ghost {
    opacity:0.65;
    z-index: 50;
}
.goban .stone {
    z-index: 50;
}
.goban .focused {
    z-index: 100;
}
.goban .symbol {
    z-index: 100;
}
.goban .label,
.goban .number {
    z-index: 150;
    text-align: center;
    vertical-align: middle;
}
.goban .label {
}
.goban .number {
    display: none !important;
}
.goban .label-none {
    font-weight: bold;
    -ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Safari */
    background: white;
    transform: scale(0.9,0.9);
    transform: scale(0.9,0.9);
}
.goban .label-black,
.goban .number-black {
    color: white;
}
.goban .label-white,
.goban .number-white {
    color: #222;
}
.goban.numbers .number {
    display: block !important;
    z-index: 150;
}
.goban.numbers .overlay {
    display: none !important;
}
