.goban {
    position: relative;
    background: #DCB35C;
}
.goban .stone,
.goban .focused,
.goban .ghost,
.goban .number {
    position: absolute;
}
.goban .ghost {
    opacity:0.65;
    z-index: 50;
}
.goban .stone {
    z-index: 50;
}
.goban .focused {
    z-index: 100;
}
.goban .number {
    display: none !important;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
}
.goban .number-black {
    color: white;
}
.goban .number-white {
    color: #222;
}
.goban.numbers .number {
    display: block !important;
    z-index: 150;
}
